html {
    font: 14px "Century Gothic", Futura, sans-serif;
  }

#root {
  background: #e9ecef;
}

#frame{
  height: 750px;
}

button{
  background-color: #008CBA;
  color: white;

}

.navbar {
  height: 80px;
  background-color: #fff;
  margin-bottom: 2rem;
}

.list-card {
  margin-bottom: 10rem important!;
  margin-left: 1rem;
}

.detail-card {
  min-height: 600px;
  margin-right: 1rem;
 }

.my-locations{
  border-bottom: #3276b1;
}

input[type="radio"] {
  position: absolute;
  visibility: hidden;
  display: none;
}

.radio-label {
  color: #00b7eb;
  display: inline-block;
  cursor: pointer;
  padding: 0px 10px;
  margin-bottom: 0px
}

input[type="radio"]:checked + .radio-label {
  color: white;
  background: #00b7eb;
}

label + input[type="radio"] + .radio-label {
  color: #00b7eb;
}

.radio-group {
  background: #e9ecef;
  display: inline-block;
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 0px

}
.header-font{
  font-family: "Dancing Script"; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px;
}

.list-img{
  width: 15%;
  height: auto;
}

.detail-img{
  width: 100%;
  height: auto;
}
.scrollbar {
  height:  555px;
  overflow-y: scroll;
}

@media (max-width: 600px) { 
  /* #frame{
    height: auto;
  } */
  .detail-card {
    min-height: 300px
   }
  .scrollbar {
    height:  150px;
    overflow-y: scroll;
  }

  .mobile-order{
    display: flex !important;
    flex-direction: row !important;
  }
  .mobile-order > #list-card { order: 2 !important; }
  .mobile-order > #detail-card { order: 1 !important; }

  .list-card {
    margin-left: 0rem;
  }
  
  .detail-card {
    margin-right: 0rem;
  }
  
}